<h3>How would you describe yourself?</h3>
<ul class="thumbnails">
  <li class="span4">
    <a id="charityThumb" class="thumbnail">
      Charity
      <img data-src="holder.js/300x200" alt="Charity">
    </a>
  </li>
  <li class="span4">
    <a id="businessThumb" class="thumbnail">
      Business
      <img data-src="holder.js/300x200" alt="Business">
    </a>
  </li>
  <li class="span4">
    <a id="donorThumb" class="thumbnail">
      Donor
      <img data-src="holder.js/300x200" alt="Donor">
    </a>
  </li>
</ul>
<%= javascript_include_tag("homepage.js") %>
<%= javascript_include_tag("holder.min.js") %>