<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_category.name %>
</p>

<%= link_to 'Edit', edit_business_category_path(@business_category) %> |
<%= link_to 'Back', business_categories_path %>
