<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity_category.name %>
</p>

<%= link_to 'Edit', edit_charity_category_path(@charity_category) %> |
<%= link_to 'Back', charity_categories_path %>
