<h1>Active groupGrants</h1>

<table class="table table-striped" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Goal date</th>
      <th>Goal amount</th>
<!--       <th>Owner</th>
      <th>Partner</th>
      <th>Completed date</th>
      <th>Is complete</th>
      <th>Is enabled</th>
      <th>Video url</th> -->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <%= render partial: "groupgrant", collection: @groupgrants %>
  </tbody>
</table>

<br>

<%= link_to 'Start a new Groupgrant', new_groupgrant_path %>
