<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @groupgrant_category.name %>
</p>

<%= link_to 'Edit', edit_groupgrant_category_path(@groupgrant_category) %> |
<%= link_to 'Back', groupgrant_categories_path %>
