// Place all the styles related to the charity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// CSS for index and partial view //

.charity_partial_pic {
   height: 75px;
   width: 75px;
   padding:0px 0 0px 0;
}

.charity_index_single {
   overflow:hidden;
   max-height: 225px;
   margin: 10px 0 10px 0;
   border-bottom-style: solid;
   border-width: 1px;
   border-color: #BFBFBF;
}

// CSS for show //

.charity_title {
   border-bottom-style: solid;
   border-width: 1px;
   border-color: #BFBFBF;
}

.charity_show_pic {
   padding:0px 0 0px 0;
   max-height:3000px;
   max-width: 300px;
   width:100%;
   height:100%;
}

.charity_groupgrants {
   margin-left:auto;
   margin-right:auto;
   width: 80%;
}