// Place all the styles related to the groupgrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.groupgrant_title {
   color:black;
   width:95%;
}
.goal {
	position: relative;
	right: 0;
	text-align: right;
}

.progress_bar {
	position:relative;
	left: 150px;
	width: 85px;	
}