// Place all the styles related to the groupgrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.groupgrant_title {
   position:absolute;
   color:white;
   padding-left: 5px;
   margin-top:-13px;
   width:80%;

}