// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friend_selected {
	background-color:red;
}

h1 {
	color: #003366;
}

form {
	display: inherit;
}

#chats td {
   border:none;
}

#friends {
	padding-left: 0;
}

.ui-widget {
	padding-left: 8px;
}

#chat_message {
	
}

#chats,#chats tbody, #chats td, #chats tr {
   display: block;
}


.active_friend {
   float: left;
   width: 14px;
   display: block;
   margin-right: 5px;
}

.different_responder {
   border-top: 1px solid #DDD  
}

#chats .same_responder {
   padding: 8px;
   padding-top: 0px;
}
.message_time_stamp {
   border-bottom: 1px solid #DDD
}

.grey {
   color: grey
}

.green {
   color: #43B549
}