// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message_table {
	background: #EEEEEE;
	padding: 30px 20px;
}

.friend_selected {
	background-color:red;
}

form {
	display: inherit;
}

h1 {
	color: #003366;
}

#friends {
	padding-left: 0;
}

#chat_message {
	width: 452px;
}

#bottom_table {
	background: #003366;
}